.container {
  width: 100vw;
  height: 100vw;
  background-color: tomato;
  text-align: center;
  display:block;
  
  .test {
    color: ghostwhite;
  }
  .button {
    // margin-top: 400px;
    background-color :skyblue;
    border: palegreen;
    color: green;
    display: inline-block;
  }
  .login{
    display: flex;
    box-sizing: border-box;
    text-align: left;
    padding-right: 20%;
    // margin: 20px 20px 20px 20px;
    
  
  }  
  div {
  
  .Item {
    flex: 1 1;
    font-size: 14px;
    height: 40px;
    width: 300px;
    box-sizing: border-box;
    
  }
  }
}